.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  height: 322px;
}

.card__info_container {
  display: flex;
  position: absolute;
  top: 15px;
  gap: 10px;
}

.card__name {
  margin: 0;
  background: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  /* opacity: 60%; */
}

.card__like-button {
  background: url("../../assets/like-button-inactive.svg") center no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  transition: opacity 0.1s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like-button_active {
  background: url("../../assets/like-button-active.svg") center no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  transition: opacity 0.1s ease-in-out;
}

.card__image {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
