.sidebar {
  display: flex;
  width: 229px;
  height: 56px;
  gap: 15px;
  padding-top: 19px;
  flex-direction: column;
}

.sidebar__container {
  display: flex;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  height: auto;
  margin: 0;
  padding: 16px 0 16px 16px;
  height: 20px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
}

.sidebar__change-profile-button {
  height: 25px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: "Cabinet Grotesk";
}

.sidebar__singout-button {
  height: 25px;
  margin-top: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: "Cabinet Grotesk";
}
